@font-face {
  font-family: "Autogate Rough";
  src: url("../font/autogate-sans-rough.ttf"); }

@font-face {
  font-family: "Autogate Regular";
  src: url("../font/Autogate Regular DEMO.ttf"); }

@font-face {
  font-family: "Roboto Condensed.ttf";
  src: url("../font/RobotoCondensed-Regular.ttf"); }

@font-face {
  font-family: "Neucha-Regular";
  src: url("../font/Neucha-Regular.ttf"); }

/*@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto+Mono&display=swap');*/
