@media only screen and (max-width: 1201px) {
  body {
    background-image: url("../img/history/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px; } }

@media only screen and (max-width: 1025px) {
  body {
    padding-bottom: 80px; } }

@media only screen and (max-width: 450px) {
  body {
    padding-bottom: 50px; } }
