@media only screen and (max-width: 1201px) {
  body {
    background-image: url("../img/history/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat; } }

@media only screen and (max-width: 450px) {
  background-size: 100% 100%;
  height: 100vh; }
