.header {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 18px auto 0 auto;
  padding: 0 15px;
  min-height: 68px;
  position: relative;
  z-index: 1; }
  .header__logo a {
    max-width: 231px;
    display: block;
    font-family: 'Roboto Mono';
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: white -1px -1px; }
    .header__logo a img {
      width: 100%;
      display: none; }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 79px; }
    .header__nav__xs {
      display: none; }
    .header__nav__nav1 ul {
      margin: 0;
      display: flex;
      list-style-type: none;
      min-width: 335px;
      justify-content: space-between;
      align-items: center; }
      .header__nav__nav1 ul li a {
        color: #fff;
        font-family: "Segoe UI - Semilight",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.26px;
        text-decoration: none; }
        .header__nav__nav1 ul li a img {
          margin-right: 10px; }
        .header__nav__nav1 ul li a .fa-search {
          color: #d60202;
          border-bottom: transparent; }
    .header__nav__nav2 ul {
      margin: 0;
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
      .header__nav__nav2 ul li {
        margin-right: 34px; }
        .header__nav__nav2 ul li a {
          color: #3a2020;
          font-family: "DIN Pro";
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          text-transform: uppercase;
          letter-spacing: 0.28px;
          text-decoration: none; }
        .header__nav__nav2 ul li img {
          margin: 3px 5px; }
        .header__nav__nav2 ul li:last-child {
          width: 95px;
          height: 36px;
          margin-right: 0; }
          .header__nav__nav2 ul li:last-child a {
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            padding: 12px 0 12px 15px;
            color: #717274;
            font-family: "Segoe UI - Semilight";
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            text-transform: none;
            letter-spacing: 0.24px; }
            .header__nav__nav2 ul li:last-child a img {
              margin: 3px 5px; }

.selectdiv select, .lang select {
  background-color: transparent;
  color: #fff; }
  .selectdiv select option, .lang select option {
    color: #222222; }
