.header-3 {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0; }
  .header-3.open {
    z-index: 99; }
  .header-3__burger {
    position: absolute;
    top: 32px;
    left: 32px;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display: none; }
  .header-3__logo {
    max-width: 370px;
    display: block;
    font-family: 'Autogate Rough';
    font-size: 3.3em;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1; }
    .header-3__logo a {
      transition: all 0.5s, ease 0.2s;
      text-decoration: none;
      color: #343434; }
      .header-3__logo a:hover {
        opacity: .7; }
  .header-3__nav ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center; }
    .header-3__nav ul li {
      margin-right: 10px; }
      .header-3__nav ul li a {
        position: relative;
        color: #343434;
        font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.26px;
        text-decoration: none; }
        .header-3__nav ul li a:hover {
          opacity: .7; }
        .header-3__nav ul li a::after {
          content: "";
          position: absolute;
          left: 0;
          display: inline-block;
          height: 0.7em;
          width: 100%;
          border-bottom: 1px solid;
          margin-top: 10px;
          opacity: 0;
          transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
          -webkit-transform: scale(0, 1);
          transform: scale(0, 1); }
        .header-3__nav ul li a:hover::after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); }
      .header-3__nav ul li:last-child {
        margin-right: 0; }

.sandwich {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  background: #343434;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  top: 13px;
  background: #343434;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: top 0.2s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 100%;
  height: 5px;
  top: 25px;
  background: #343434;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 18px;
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 12px;
  -webkit-transform: rotate(-140deg);
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }
