.main-history {
  padding: 0 15px;
  margin: 50px 0 0 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between; }
  .main-history__left {
    max-width: 55%; }
    .main-history__left__up {
      /*display: flex;
      justify-content: center;
      align-items: center;*/ }
      .main-history__left__up .player {
        margin-left: 150px; }
        .main-history__left__up .player__controls #playIcon {
          cursor: pointer;
          max-width: 100px; }
    .main-history__left__down {
      margin: 50px 0 0 0; }
      .main-history__left__down .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #fff;
        min-height: 400px; }
        .main-history__left__down .text__main {
          font-family: 'Cutive Mono', monospace;
          font-size: 1.6em;
          font-weight: 600;
          letter-spacing: 0.3em;
          text-transform: uppercase;
          text-shadow: white 0px 2px; }
        .main-history__left__down .text .sep {
          border: 0;
          width: 11em;
          height: 2px;
          margin: 0 0 20px 0;
          background-color: white; }
        .main-history__left__down .text__description {
          font-family: "Cutive Mono", monospace;
          font-size: 1.2em;
          margin: 0 0 0.5em;
          line-height: 1.5;
          white-space: normal;
          max-width: 600px; }
  .main-history__right {
    width: 45%;
    display: flex; }
    .main-history__right__img {
      max-width: 500px;
      position: relative; }
      .main-history__right__img img {
        width: 370px;
        opacity: 0.6;
        position: absolute;
        display: none; }
  .main-history__equalizer {
    display: none;
    position: fixed;
    left: 2px;
    top: 140px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
    .main-history__equalizer .equilizer {
      height: 100px;
      width: 100px;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    .main-history__equalizer .bar {
      fill: #fff;
      width: 18px;
      -webkit-animation: equalize 5s 0s infinite;
      animation: equalize 5s 0s infinite; }
    .main-history__equalizer .bar:nth-child(1) {
      -webkit-animation-delay: -2.9s;
      animation-delay: -2.9s; }
    .main-history__equalizer .bar:nth-child(2) {
      -webkit-animation-delay: -3s;
      animation-delay: -3s; }
    .main-history__equalizer .bar:nth-child(3) {
      -webkit-animation-delay: -3.3s;
      animation-delay: -3.3s; }
    .main-history__equalizer .bar:nth-child(4) {
      -webkit-animation-delay: -3.4s;
      animation-delay: -3.4s; }
    .main-history__equalizer .bar:nth-child(5) {
      -webkit-animation-delay: -3.1s;
      animation-delay: -3.1s; }

#example .new {
  opacity: 0; }

#example .div_opacity {
  transition: opacity 0.2s ease-in-out;
  opacity: 1; }

@-webkit-keyframes equalize {
  0% {
    height: 60px; }
  4% {
    height: 50px; }
  8% {
    height: 40px; }
  12% {
    height: 30px; }
  16% {
    height: 20px; }
  20% {
    height: 30px; }
  24% {
    height: 40px; }
  28% {
    height: 10px; }
  32% {
    height: 40px; }
  36% {
    height: 60px; }
  40% {
    height: 20px; }
  44% {
    height: 40px; }
  48% {
    height: 70px; }
  52% {
    height: 30px; }
  56% {
    height: 10px; }
  60% {
    height: 30px; }
  64% {
    height: 50px; }
  68% {
    height: 60px; }
  72% {
    height: 70px; }
  76% {
    height: 80px; }
  80% {
    height: 70px; }
  84% {
    height: 60px; }
  88% {
    height: 50px; }
  92% {
    height: 60px; }
  96% {
    height: 70px; }
  100% {
    height: 80px; } }

@keyframes equalize {
  0% {
    height: 60px; }
  4% {
    height: 50px; }
  8% {
    height: 40px; }
  12% {
    height: 30px; }
  16% {
    height: 20px; }
  20% {
    height: 30px; }
  24% {
    height: 40px; }
  28% {
    height: 10px; }
  32% {
    height: 40px; }
  36% {
    height: 60px; }
  40% {
    height: 20px; }
  44% {
    height: 40px; }
  48% {
    height: 70px; }
  52% {
    height: 30px; }
  56% {
    height: 10px; }
  60% {
    height: 30px; }
  64% {
    height: 50px; }
  68% {
    height: 60px; }
  72% {
    height: 70px; }
  76% {
    height: 80px; }
  80% {
    height: 70px; }
  84% {
    height: 60px; }
  88% {
    height: 50px; }
  92% {
    height: 60px; }
  96% {
    height: 70px; }
  100% {
    height: 80px; } }

.show {
  display: block; }
