@media only screen and (max-width: 1025px) {
  .paragraph.paragraph-scroll {
    margin-top: 180px; } }

@media only screen and (max-width: 769px) {
  .paragraph.paragraph-scroll {
    margin-top: 100px; } }

@media only screen and (max-width: 450px) {
  .paragraph.paragraph-scroll {
    margin-top: 125px;
    padding: 0 15px; }
    .paragraph.paragraph-scroll .paragraph__third .paragraph-scroll--title {
      font-size: 1.2em; }
    .paragraph.paragraph-scroll .paragraph__third .sources {
      padding: 0 35px;
      font-size: 0.7em; }
    .paragraph.paragraph-scroll .paragraph-scroll--desc {
      font-size: 1em; } }
