@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto+Mono&display=swap");
@font-face {
  font-family: "Segoe UI - Semilight";
  src: url("../font/10393.ttf"); }

@font-face {
  font-family: "DIN Pro";
  src: url("../font/DINPro-Regular.ttf"); }

@font-face {
  font-family: "Proxima Nova T - Thin";
  src: url("../font/ProximaNovaT-Thin.ttf"); }

@font-face {
  font-family: "Cutive Mono";
  src: url("../font/CutiveMono-Regular.ttf"); }

@font-face {
  font-family: "Sunset Boulevard";
  src: url("../font/Sunset Boulevard.otf"); }

body {
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background-color: #222222;
  background-image: url("../img/Barrack-Street.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /*&::after {
    z-index: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.5);
  }*/ }
  body ul {
    padding: 0; }

.shape {
  background-image: url(../img/shape.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 761px;
  z-index: -1;
  position: absolute; }

.main-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 18px auto 0 auto;
  padding: 0 15px;
  min-height: 68px;
  position: relative;
  z-index: 1; }
  .header__logo a {
    max-width: 231px;
    display: block;
    font-family: 'Roboto Mono';
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: white -1px -1px; }
    .header__logo a img {
      width: 100%;
      display: none; }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 79px; }
    .header__nav__xs {
      display: none; }
    .header__nav__nav1 ul {
      margin: 0;
      display: flex;
      list-style-type: none;
      min-width: 335px;
      justify-content: space-between;
      align-items: center; }
      .header__nav__nav1 ul li a {
        color: #fff;
        font-family: "Segoe UI - Semilight",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.26px;
        text-decoration: none; }
        .header__nav__nav1 ul li a img {
          margin-right: 10px; }
        .header__nav__nav1 ul li a .fa-search {
          color: #d60202;
          border-bottom: transparent; }
    .header__nav__nav2 ul {
      margin: 0;
      display: flex;
      list-style-type: none;
      width: 100%;
      justify-content: space-between;
      align-items: center; }
      .header__nav__nav2 ul li {
        margin-right: 34px; }
        .header__nav__nav2 ul li a {
          color: #3a2020;
          font-family: "DIN Pro";
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          text-transform: uppercase;
          letter-spacing: 0.28px;
          text-decoration: none; }
        .header__nav__nav2 ul li img {
          margin: 3px 5px; }
        .header__nav__nav2 ul li:last-child {
          width: 95px;
          height: 36px;
          margin-right: 0; }
          .header__nav__nav2 ul li:last-child a {
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            padding: 12px 0 12px 15px;
            color: #717274;
            font-family: "Segoe UI - Semilight";
            font-size: 12px;
            font-weight: 400;
            line-height: 22px;
            text-transform: none;
            letter-spacing: 0.24px; }
            .header__nav__nav2 ul li:last-child a img {
              margin: 3px 5px; }

.selectdiv select, .lang select {
  background-color: transparent;
  color: #fff; }
  .selectdiv select option, .lang select option {
    color: #222222; }

.main-history {
  padding: 0 15px;
  margin: 50px 0 0 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between; }
  .main-history__left {
    max-width: 55%; }
    .main-history__left__up {
      /*display: flex;
      justify-content: center;
      align-items: center;*/ }
      .main-history__left__up .player {
        margin-left: 150px; }
        .main-history__left__up .player__controls #playIcon {
          cursor: pointer;
          max-width: 100px; }
    .main-history__left__down {
      margin: 50px 0 0 0; }
      .main-history__left__down .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #fff;
        min-height: 400px; }
        .main-history__left__down .text__main {
          font-family: 'Cutive Mono', monospace;
          font-size: 1.6em;
          font-weight: 600;
          letter-spacing: 0.3em;
          text-transform: uppercase;
          text-shadow: white 0px 2px; }
        .main-history__left__down .text .sep {
          border: 0;
          width: 11em;
          height: 2px;
          margin: 0 0 20px 0;
          background-color: white; }
        .main-history__left__down .text__description {
          font-family: "Cutive Mono", monospace;
          font-size: 1.2em;
          margin: 0 0 0.5em;
          line-height: 1.5;
          white-space: normal;
          max-width: 600px; }
  .main-history__right {
    width: 45%;
    display: flex; }
    .main-history__right__img {
      max-width: 500px;
      position: relative; }
      .main-history__right__img img {
        width: 370px;
        opacity: 0.6;
        position: absolute;
        display: none; }
  .main-history__equalizer {
    display: none;
    position: fixed;
    left: 2px;
    top: 140px;
    transform: rotate(90deg); }
    .main-history__equalizer .equilizer {
      height: 100px;
      width: 100px;
      transform: rotate(180deg); }
    .main-history__equalizer .bar {
      fill: #fff;
      width: 18px;
      animation: equalize 5s 0s infinite; }
    .main-history__equalizer .bar:nth-child(1) {
      animation-delay: -2.9s; }
    .main-history__equalizer .bar:nth-child(2) {
      animation-delay: -3s; }
    .main-history__equalizer .bar:nth-child(3) {
      animation-delay: -3.3s; }
    .main-history__equalizer .bar:nth-child(4) {
      animation-delay: -3.4s; }
    .main-history__equalizer .bar:nth-child(5) {
      animation-delay: -3.1s; }

#example .new {
  opacity: 0; }

#example .div_opacity {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1; }

@keyframes equalize {
  0% {
    height: 60px; }
  4% {
    height: 50px; }
  8% {
    height: 40px; }
  12% {
    height: 30px; }
  16% {
    height: 20px; }
  20% {
    height: 30px; }
  24% {
    height: 40px; }
  28% {
    height: 10px; }
  32% {
    height: 40px; }
  36% {
    height: 60px; }
  40% {
    height: 20px; }
  44% {
    height: 40px; }
  48% {
    height: 70px; }
  52% {
    height: 30px; }
  56% {
    height: 10px; }
  60% {
    height: 30px; }
  64% {
    height: 50px; }
  68% {
    height: 60px; }
  72% {
    height: 70px; }
  76% {
    height: 80px; }
  80% {
    height: 70px; }
  84% {
    height: 60px; }
  88% {
    height: 50px; }
  92% {
    height: 60px; }
  96% {
    height: 70px; }
  100% {
    height: 80px; } }

.show {
  display: block; }

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  margin: 240px auto 0px auto;
  padding: 0 15px 15px; }
  .footer__copyright span {
    color: #fff;
    font-family: "Segoe UI - Semilight",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.28px; }
  .footer__we {
    display: flex;
    align-items: center; }
    .footer__we span {
      color: #fff;
      font-family: "Segoe UI",Helvetica,Arial,sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 22px; }
      .footer__we span b {
        font-weight: 700;
        text-transform: uppercase; }
    .footer__we img {
      margin-left: 20px; }
  .footer__btnUp {
    position: absolute;
    width: 48px;
    height: 48px;
    box-shadow: 0 12px 21px rgba(155, 169, 179, 0.29);
    background-color: #ffffff;
    border: 0;
    top: -239px;
    right: 0px;
    cursor: pointer;
    outline: none;
    transition: right 1s; }
    .footer__btnUp:hover {
      background-image: linear-gradient(45deg, #1b1b1b 0%, #453f3f 100%);
      -webkit-transition: width 0.5s;
      transition: width 0.5s;
      transition-delay: 1s; }

#datepicker {
  background: url(../img/calendar.png) right no-repeat #fff;
  background-position-x: 95%; }

.to__top--active {
  right: 9%;
  margin-top: 0; }

#mySong {
  display: inline-block !important;
  width: 150px;
  height: 150px; }

audio:not([controls]) {
  display: block !important; }

/* @import "import_sass/slider.scss";
@import "import_sass/products.scss";
@import "import_sass/contact.scss";
@import "import_sass/burger.scss";
@import "import_sass/media.scss"; */
