@font-face {
  font-family: "Autogate Rough";
  src: url("../font/autogate-sans-rough.ttf"); }

@font-face {
  font-family: "Ubuntu-Regular";
  src: url("../font/Ubuntu-Regular.ttf"); }

@font-face {
  font-family: "Roboto Condensed.ttf";
  src: url("../font/RobotoCondensed-Regular.ttf"); }

@font-face {
  font-family: "Neucha-Regular";
  src: url("../font/Neucha-Regular.ttf"); }

#p_prldr {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 101; }

.contpre small {
  font-size: 25px; }

.contpre {
  width: 250px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 48%;
  margin-left: -125px;
  margin-top: -75px;
  color: #fff;
  font-size: 40px;
  letter-spacing: -2px;
  text-align: center;
  line-height: 35px; }

/* variable  */
:root {
  --base-color: rgba(0, 0, 0, 1);
  --hover-color: rgba(255, 255, 255, 1); }

.hide {
  display: none; }

.show {
  display: block; }

body {
  transition: all 0.5s, ease 0.2s;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background-color: #e4db8f;
  background-image: url("../img/history/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
  min-height: 100vh; }
  body ul {
    padding: 0; }

h1 {
  font-family: "Cutive Mono";
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #343434;
  margin-top: 0; }

.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none; }

.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  cursor: pointer; }
  .horizontal > .text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(90deg, var(--hover-color) 0%, var(--hover-color) 50%, var(--base-color) 50%, var(--base-color) 100%);
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
    padding: 15px 20px;
    border: 2px solid var(--base-color); }
  .horizontal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-color);
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms; }
  .horizontal:hover .text {
    background-position: 0 0; }
  .horizontal:hover::before {
    transform-origin: 0 0;
    transform: scale3d(1, 1, 1); }
  .horizontal.play {
    height: 73px;
    width: 200px;
    border: 3px solid black;
    border-radius: 2%;
    overflow: hidden;
    font-size: 1em; }
    .horizontal.play .pause {
      display: none; }

/* angles */
.angles__left-top {
  position: fixed;
  top: 7px;
  left: 7px;
  width: 90px;
  height: 3px;
  background-color: #343434;
  z-index: 100; }
  .angles__left-top::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 3px;
    height: 90px;
    background-color: #343434; }

.angles__left-bottom {
  position: fixed;
  bottom: 7px;
  left: 7px;
  width: 90px;
  height: 3px;
  background-color: #343434;
  z-index: 100; }
  .angles__left-bottom::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 3px;
    height: 90px;
    background-color: #343434; }

.angles__right-top {
  position: fixed;
  top: 7px;
  right: 7px;
  width: 90px;
  height: 3px;
  background-color: #343434;
  z-index: 100; }
  .angles__right-top::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 3px;
    height: 90px;
    background-color: #343434; }

.angles__right-bottom {
  position: fixed;
  bottom: 7px;
  right: 7px;
  width: 90px;
  height: 3px;
  background-color: #343434;
  z-index: 100; }
  .angles__right-bottom::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 3px;
    height: 90px;
    background-color: #343434; }

.outerbutton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(122deg, rgba(240, 55, 52, 0.6) 0%, #c7d9f1 35%, rgba(228, 219, 143, 0.6) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 1s ease 0.3s; }
  .outerbutton .btn {
    color: #fff;
    font-size: 5em;
    transition: all 1s ease 0.3s;
    --animate-duration: 3s;
    margin: 0;
    position: relative;
    cursor: pointer;
    /*effect-underline*/ }
    .outerbutton .btn:after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 3px solid;
      margin-top: 10px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1); }
    .outerbutton .btn:hover::after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }

.equalizer {
  display: none;
  position: fixed;
  right: 18px;
  bottom: 0px;
  z-index: 100; }
  .equalizer .equilizer {
    height: 75px;
    width: 75px;
    transform: rotate(180deg); }
  .equalizer .bar {
    fill: #343434;
    width: 18px;
    animation: equalize 5s 0s infinite; }
  .equalizer .bar:nth-child(1) {
    animation-delay: -2.9s; }
  .equalizer .bar:nth-child(2) {
    animation-delay: -3s; }
  .equalizer .bar:nth-child(3) {
    animation-delay: -3.3s; }
  .equalizer .bar:nth-child(4) {
    animation-delay: -3.4s; }
  .equalizer .bar:nth-child(5) {
    animation-delay: -3.1s; }
  .equalizer.show {
    display: block; }

@keyframes equalize {
  0% {
    height: 60px; }
  4% {
    height: 50px; }
  8% {
    height: 40px; }
  12% {
    height: 30px; }
  16% {
    height: 20px; }
  20% {
    height: 30px; }
  24% {
    height: 40px; }
  28% {
    height: 10px; }
  32% {
    height: 40px; }
  36% {
    height: 60px; }
  40% {
    height: 20px; }
  44% {
    height: 40px; }
  48% {
    height: 70px; }
  52% {
    height: 30px; }
  56% {
    height: 10px; }
  60% {
    height: 30px; }
  64% {
    height: 50px; }
  68% {
    height: 60px; }
  72% {
    height: 70px; }
  76% {
    height: 80px; }
  80% {
    height: 70px; }
  84% {
    height: 60px; }
  88% {
    height: 50px; }
  92% {
    height: 60px; }
  96% {
    height: 70px; }
  100% {
    height: 80px; } }

.show {
  display: flex; }

.volume {
  position: fixed;
  bottom: 0;
  left: 17px;
  width: 46px;
  height: 46px;
  z-index: 100; }
  .volume__aloud, .volume__mute {
    display: block;
    position: absolute;
    bottom: 9px;
    color: #343434;
    cursor: pointer;
    z-index: 100; }
    .volume__aloud img, .volume__mute img {
      width: 100%; }
    .volume__aloud:hover, .volume__mute:hover {
      opacity: .7; }

.main__audio {
  position: relative;
  z-index: 0;
  opacity: 0;
  height: 0; }

.main__song {
  width: 100px; }

.player__controls #playIcon {
  cursor: pointer;
  max-width: 100px;
  /* background-color: #d8e5f5;*/
  border-radius: 50%;
  transition: all .3s ease 0.3s;
  /*background-size: 0 100%;*/ }
  .player__controls #playIcon:hover {
    background: #c1d6f0;
    transition: all .3s ease 0.3s; }

.header-3 {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1; }
  .header-3.open {
    z-index: 99; }
  .header-3.scrolled {
    background-color: rgba(245, 234, 170, 0.9);
    z-index: 11; }
  .header-3__burger {
    position: absolute;
    top: 32px;
    left: 32px;
    height: 40px;
    width: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    display: none; }
  .header-3__logo {
    max-width: 370px;
    display: block;
    font-family: 'Autogate Rough';
    font-size: 3.3em;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1; }
    .header-3__logo a {
      transition: all 0.5s, ease 0.2s;
      text-decoration: none;
      color: #343434; }
      .header-3__logo a:hover {
        opacity: .7; }
  .header-3__nav ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center; }
    .header-3__nav ul li {
      margin-right: 10px; }
      .header-3__nav ul li a {
        position: relative;
        color: #343434;
        font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.26px;
        text-decoration: none; }
        .header-3__nav ul li a:hover {
          opacity: .7; }
        .header-3__nav ul li a::after {
          content: "";
          position: absolute;
          left: 0;
          display: inline-block;
          height: 0.7em;
          width: 100%;
          border-bottom: 1px solid;
          margin-top: 10px;
          opacity: 0;
          transition: opacity 0.35s, transform 0.35s;
          transform: scale(0, 1); }
        .header-3__nav ul li a:hover::after {
          opacity: 1;
          transform: scale(1); }
      .header-3__nav ul li:last-child {
        margin-right: 0; }

.sandwich {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.sw-topper {
  position: relative;
  top: 0;
  width: 100%;
  height: 5px;
  background: #343434;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 100%;
  height: 5px;
  top: 13px;
  background: #343434;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 100%;
  height: 5px;
  top: 25px;
  background: #343434;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 18px;
  transform: rotate(140deg); }

.sandwich.active .sw-bottom {
  top: 12px;
  transform: rotate(-140deg); }

.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

@media only screen and (max-width: 1201px) {
  /* body {
    background-image: url("../img/history/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }*/ }

@media only screen and (max-width: 1025px) {
  .header-3 {
    flex-direction: row-reverse; }
    .header-3__burger {
      color: #343434;
      display: block;
      cursor: pointer;
      z-index: 100; }
    .header-3__logo {
      z-index: 100; }
      .header-3__logo a {
        font-size: 0.9em; }
    .header-3__nav {
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background: #e4db8f;
      background: linear-gradient(122deg, #e4db8f 0%, #c7d9f1 35%, #f03734 100%);
      opacity: 0;
      z-index: 1; }
      .header-3__nav ul {
        position: relative;
        top: 50%;
        flex-direction: column;
        transform: translateY(-50%); }
        .header-3__nav ul li {
          margin: 25px 0 25px 0; }
          .header-3__nav ul li .divider {
            font-size: 3em;
            line-height: 34px; }
          .header-3__nav ul li a {
            font-size: 3em;
            line-height: 1; } }

@media only screen and (max-width: 769px) {
  .header-3 {
    justify-content: space-between; }
    .header-3__logo a {
      display: block;
      text-align: center;
      font-size: .8em; } }

@media only screen and (max-width: 450px) {
  .header-3__nav ul li {
    margin: 20px 0 20px 0; }
    .header-3__nav ul li .divider {
      font-size: 2em;
      line-height: 34px; }
    .header-3__nav ul li a {
      font-size: 2em;
      line-height: 1; }
  .header-3__logo a {
    font-size: .4em;
    line-height: 1.7; } }

.home__title {
  margin-top: 150px; }
  .home__title--text {
    text-align: center;
    font-size: 3.4em; }

.home__wrapper {
  padding: 0 15px; }

/* ---- grid ---- */
.grid {
  max-width: 1900px;
  margin: 0 auto; }

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both; }

/* ---- .grid-item ---- */
.grid-item,
.grid-sizer {
  width: 23.5%; }

.gutter-sizer {
  width: 2%; }

.grid-item {
  float: left;
  min-height: 80px;
  margin-bottom: 40px; }
  .grid-item .c-preview {
    color: #343434;
    position: relative;
    cursor: pointer;
    transition: 0.5s all;
    overflow: hidden;
    display: block;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; }
    .grid-item .c-preview__img {
      position: relative;
      width: 100%;
      z-index: 1; }
      .grid-item .c-preview__img img {
        display: block;
        width: 100%; }
      .grid-item .c-preview__img::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: linear-gradient(122deg, rgba(240, 55, 52, 0.8) 0%, rgba(199, 217, 241, 0.8) 35%, rgba(228, 219, 143, 0.8) 100%);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        transition: 1s all; }
    .grid-item .c-preview__title {
      font-size: 2em;
      font-family: 'Neucha-Regular';
      padding: 0 5px;
      position: absolute;
      z-index: 10;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      left: -150%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      transition: 1s all; }
    .grid-item .c-preview:hover {
      background-position: 100% 100%; }
      .grid-item .c-preview:hover__title {
        text-shadow: 0 0 20px black; }
    .grid-item .c-preview:hover .c-preview__img::after {
      width: 100%; }
    .grid-item .c-preview:hover .c-preview__title {
      left: 50%; }
    .grid-item .c-preview:after, .grid-item .c-preview:before {
      content: " ";
      width: 50px;
      height: 50px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s;
      z-index: 10; }
    .grid-item .c-preview:after {
      top: -1px;
      left: -1px;
      border-top: 5px solid #3f4243;
      border-left: 5px solid #3f4243; }
    .grid-item .c-preview:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 5px solid #3f4243;
      border-right: 5px solid #3f4243; }
    .grid-item .c-preview:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px; }
      .grid-item .c-preview:hover:before, .grid-item .c-preview:hover:after {
        width: 100%;
        height: 100%; }

.grid-item--height2 {
  height: 120px;
  background: #c25; }

.grid-item--height3 {
  min-height: 500px; }

.big-text {
  font-size: 20px; }

@media only screen and (max-width: 1201px) {
  .home__title {
    margin-top: 200px; }
    .home__title--text {
      font-size: 3em; }
  .grid-sizer, .grid-item {
    width: 30.5%; }
  .gutter-sizer {
    width: 4%; } }

@media only screen and (max-width: 1025px) {
  .home__title {
    margin-top: 180px; }
    .home__title--text {
      font-size: 2.8em; }
  .grid-item .c-preview:hover .c-preview__title {
    font-size: 1.6em; } }

@media only screen and (max-width: 769px) {
  .home__title {
    margin-top: 160px;
    padding: 0 15px; }
    .home__title--text {
      font-size: 2.3em; }
  .grid-sizer, .grid-item {
    width: 49%; }
  .grid-item {
    margin-bottom: 15px; }
  .gutter-sizer {
    width: 2%; } }

@media only screen and (max-width: 450px) {
  .home__title {
    margin-top: 130px; }
    .home__title--text {
      font-size: 2em; }
  .grid-sizer, .grid-item {
    width: 100%; }
  .gutter-sizer {
    width: 0; } }
