
@font-face {
  font-family: "Segoe UI - Semilight";
  src: url('../font/10393.ttf');
}
@font-face {
  font-family: "DIN Pro";
  src: url('../font/DINPro-Regular.ttf');
}
@font-face {
  font-family: "Proxima Nova T - Thin";
  src: url('../font/ProximaNovaT-Thin.ttf');
}
@font-face {
  font-family: "Cutive Mono";
  src: url('../font/CutiveMono-Regular.ttf');
}
@font-face {
  font-family: "Sunset Boulevard";
  src: url('../font/Sunset Boulevard.otf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Roboto+Mono&display=swap');