
@font-face {
  font-family: "Autogate Rough";
  src: url('../font/autogate-sans-rough.ttf');
}
// P text
@font-face {
  font-family: "Ubuntu-Regular";
  src: url('../font/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: "Roboto Condensed.ttf";
  src: url('../font/RobotoCondensed-Regular.ttf');
}

@font-face {
  font-family: "Neucha-Regular";
  src: url('../font/Neucha-Regular.ttf');
}