
@font-face {
  font-family: "Segoe UI - Semilight";
  src: url('../font/10393.ttf');
}
@font-face {
  font-family: "DIN Pro";
  src: url('../font/DINPro-Regular.ttf');
}
@font-face {
  font-family: "Proxima Nova T - Thin";
  src: url('../font/ProximaNovaT-Thin.ttf');
}