/* variable  */
$max: 75px;
$color-equalizer: #fff;
$main-color-text: #343434;
$foto-frame-color: #343434;
$main-color-text: #343434;
:root {
  --base-color: rgba(0, 0, 0, 1);
  --hover-color: rgba(255, 255, 255, 1);
}
.hide {
  display: none;
}
.show {
  display: block;
}
body {
  transition: all 0.5s, ease 0.2s;
  font-style: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  background-color: #e4db8f ;
  background-image: url("../img/history/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 50px;
  
  min-height: 100vh;
  ul {
    padding: 0;
  }
}
h1 {
  font-family: "Cutive Mono";
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $main-color-text;
  margin-top: 0;
}
.btn {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1rem;
  cursor: pointer;
  
  > .text {
    position: relative;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--hover-color) 0%,
      var(--hover-color) 50%,
      var(--base-color) 50%,
      var(--base-color) 100%
    );
    background-repeat: repeat;
    background-size: 200%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background-position 300ms;
    padding: 15px 20px;
    border: 2px solid var(--base-color);
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--base-color);
    transform-origin: 100% 0;
    transform: scale3d(0, 1, 1);
    transition: transform 300ms;
  }
  
  &:hover {
    .text {
      background-position: 0 0;
    }

    &::before {
      transform-origin: 0 0;
      transform: scale3d(1, 1, 1);
    }
  }
  &.play {
    height: 73px;
    width: 200px;
    border: 3px solid black;
    border-radius: 2%;
    overflow: hidden;
    font-size: 1em;
    .pause {
      display: none;
    }
  }
}

/* angles */
.angles {
  &__left-top {
    position: fixed;
    top: 7px;
    left: 7px;
    width: 90px;
    height: 3px;
    background-color: $foto-frame-color;
    z-index: 100;
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 3px;
      height: 90px;
      background-color: $foto-frame-color;
    }
  }
  &__left-bottom {
    position: fixed;
    bottom: 7px;
    left: 7px;
    width: 90px;
    height: 3px;
    background-color: $foto-frame-color;
    z-index: 100;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 3px;
      height: 90px;
      background-color: $foto-frame-color;
    }
  }
  &__right-top {
    position: fixed;
    top: 7px;
    right: 7px;
    width: 90px;
    height: 3px;
    background-color: $foto-frame-color;
    z-index: 100;
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      width: 3px;
      height: 90px;
      background-color: $foto-frame-color;
    }
  }
  &__right-bottom {
    position: fixed;
    bottom: 7px;
    right: 7px;
    width: 90px;
    height: 3px;
    background-color: $foto-frame-color;
    z-index: 100;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 3px;
      height: 90px;
      background-color: $foto-frame-color;
    }
  }
}
.outerbutton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background: linear-gradient(122deg, rgba(240,55,52,.6) 0%, rgba(199,217,241,1) 35%, rgba(228,219,143,.6) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 1s ease 0.3s;
  .btn {
    color: #fff;
    font-size: 5em;
    transition: all 1s ease 0.3s;
    --animate-duration: 3s;
    margin: 0;
    position: relative;
    cursor: pointer;
    /*effect-underline*/
    &:after {
      content: "";
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 3px solid;
      margin-top: 10px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0, 1);
      transform: scale(0, 1);
    }
    &:hover::after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
.equalizer {
  display: none;
  position: fixed;
  right: 18px;
  bottom: 0px;
  z-index: 100;
  .equilizer {
    height: $max;
    width: $max;
    transform: rotate(180deg);
  }
  .bar {
    fill: $main-color-text;
    width: 18px;
    animation: equalize 5s 0s infinite;
  }

  .bar:nth-child(1) {
    animation-delay: -2.9s;
  }

  .bar:nth-child(2) {
    animation-delay: -3s;
  }

  .bar:nth-child(3) {
    animation-delay: -3.3s;
  }

  .bar:nth-child(4) {
    animation-delay: -3.4s;
  }

  .bar:nth-child(5) {
    animation-delay: -3.1s;
  }
  &.show {
    display: block;
  }
}
@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}
.show {
  display: flex;
}
.volume {
  position: fixed;
  bottom: 0;
  left: 17px;
  width: 46px;
  height: 46px;
  z-index: 100;
  &__aloud, &__mute {
    display: block;
    position: absolute;
    bottom: 9px;
    color: $main-color-text;
    cursor: pointer;
    z-index: 100;
    img {
      width: 100%;
    }
    &:hover {
      opacity: .7;
    }
  }
}
.main {
  &__audio {
    position: relative;
    z-index: 0;
    opacity: 0;
    height: 0;
  }
  &__song {
    width: 100px;
  }
}
.player {
  &__controls {
    #playIcon {
      cursor: pointer;
      max-width: 100px;
     /* background-color: #d8e5f5;*/
      border-radius: 50%;
      transition: all .3s ease 0.3s;
      /*background-size: 0 100%;*/
      &:hover {
        background: #c1d6f0;
        transition: all .3s ease 0.3s;
      }
    }
  }
}