body {
  background-color: #222222;
  ul {
    padding: 0;
  }
}
.shape {
	background-image: url(../img/shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 761px;
    z-index: -1;
    position: absolute;
}
.main-wrapper {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}