$main-color-text: #343434;
@media only screen and (max-width: 1201px) {
 /* body {
    background-image: url("../img/history/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }*/
}
@media only screen and (max-width: 1025px) {
  .header-3 {
    flex-direction: row-reverse;
    &__burger {
      color: $main-color-text;
      display: block;
      cursor: pointer;
      z-index: 100;
    }
    &__logo {
      z-index: 100;
      a {
        font-size: 0.9em;
      }
    }
    &__nav {
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      background: rgb(228,219,143);
      background: linear-gradient(122deg, rgba(228,219,143,1) 0%, rgba(199,217,241,1) 35%, rgba(240,55,52,1) 100%);
      opacity: 0;
      z-index: 1;
      ul {
        position: relative;
        top: 50%;
        flex-direction: column;
        transform: translateY(-50%);
        li {
          margin: 25px 0 25px 0;

          .divider {
            font-size: 3em;
            line-height: 34px;
          }
          a {
            font-size: 3em;
            line-height: 1;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 769px) {
  .header-3 {
    justify-content: space-between;
    &__logo {
      a {
        display: block;
        text-align: center;
        font-size: .8em;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .header-3 {
    &__nav {
      ul {
        li {
          margin: 20px 0 20px 0;
          .divider {
            font-size: 2em;
            line-height: 34px;
          }
          a {
            font-size: 2em;
            line-height: 1;
          }
        }
      }
    }
    &__logo {
      a {
        font-size: .4em;
        line-height: 1.7;
      }
    }
  }
}
