$foto-frame-color: rgba(52,52,52,1);
$main-color-text: #343434;
/*first-paragraph*/
.main-history {
  padding: 0 15px;
  position: relative;
  z-index: 0;
  display: none;
  justify-content: space-between;
  opacity: 0;
  transition: all 1.5s ease 0.5s;
  @media only screen and (max-width: 1025px) {
    flex-direction: column-reverse
  }
  &__left {
    width: 60%;
    @media only screen and (max-width: 1025px) {
      width: 100%;
      margin-top: 50px;
    }
    &__up {
      display: flex;
      justify-content: center;
    }
    &__down {
      margin: 25px 0 0 0;
      padding: 0 80px;
      @media only screen and (max-width: 1201px) {
        padding: 0  20px 0 15px;
      }
      @media only screen and (max-width: 1025px) {
        padding: 0;
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        &__title {
          font-family: "Cutive Mono";
          font-size: 1.4em;
          font-weight: 600;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: $main-color-text;
          text-align: center;
          @media only screen and (max-width: 450px) {
            font-size: 1.2em;
          }
        }
        .sep {
          border: 0;
          width: 100%;
          height: 2px;
          margin: 0 auto;
          background-color: $main-color-text;
        }
        &__desc {
          font-family: 'Italianno', cursive;
          font-size: 1.2em;
          margin: 23px auto 0 auto;
          line-height: 1.3;
          letter-spacing: 1.5px;
          white-space: normal;
          color: #343434;
          font-style: italic;
          @media only screen and (max-width: 450px) {
            font-size: 1em;
          }
        }
        &__button {
          @media only screen and (max-width: 1201px) {
            margin: 0 auto;
          }
          &--next {
            color: $main-color-text;
            font-weight: 900;
            position: relative;
            font-family: "Cutive Mono", monospace;
            margin-top: 25px;
            cursor: pointer;
            .fa-arrow-right {
              position: absolute;
              top: 1px;
              right: -20px;
              transition: all 0.5s ease 0.1s;
            }
            &.go-to-slide {
              opacity: 0;
              z-index: 0;
              &.show {
                opacity: 1;
                .fa-arrow-right {
                  right: unset;
                  margin-left: 10px;
                }
                &:hover {
                  .fa-arrow-right {
                    margin-left: 15px;
                  }
                }
              }
            }
          }
          &:hover {
            .fa-arrow-right {
              right: -30px;
            }
          }
        }
      }
    }
  }
  &__right {
    width: 50%;
    display: flex;
    @media only screen and (max-width: 1201px) {
      width: 40%;
    }
    @media only screen and (max-width: 1025px) {
      width: 100%;
    }
    &__img {
      width: 450px;
      height: 636px;
      position: relative;
      margin: 0 auto;
      z-index: 5;
      overflow: hidden;
      border: 2px solid black;
      @media only screen and (max-width: 1025px) {
        width: 280px;
        height: 396px;
      }
      @media only screen and (max-width: 450px) {
        width: 260px;
        height: 368px;
      }
      
      .hidden-img-1, .hidden-img-2 {
        top: 95px;
        left: 46px;
        width: 355px;
        opacity: 0.6;
        position: absolute;
        display: none;
        z-index: 5;
      }
      .hidden-img-3 {
        top: 95px;
        left: 46px;
        width: 355px;
        opacity: 0;
        z-index: 5;
        position: absolute;
        &.show-people {
          opacity: 1;
          transition: all 3s ease .5s;
        }
      }
      .hidden-img-4 {
        top: 95px;
        left: 46px;
        width: 355px;
        opacity: 0;
        z-index: 6;
        position: absolute;
        &.show-people {
          opacity: 1;
        }
      }
    }
  }
}

.main {
  &__audio {
    position: relative;
    z-index: 0;
    opacity: 0;
    height: 0;
  }
}
.player {
  &__controls {
    #playIcon {
      cursor: pointer;
      max-width: 100px;
     /* background-color: #d8e5f5;*/
      border-radius: 50%;
      transition: all .3s ease 0.3s;
      /*background-size: 0 100%;*/
      &:hover {
        background: #c1d6f0;
        transition: all .3s ease 0.3s;
      }
    }
  }
}
#example .new {
  opacity: 0;
}
#example .div_opacity {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
@keyframes equalize {
  0% {
    height: 60px;
  }
  4% {
    height: 50px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 60px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 70px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 50px;
  }
  68% {
    height: 60px;
  }
  72% {
    height: 70px;
  }
  76% {
    height: 80px;
  }
  80% {
    height: 70px;
  }
  84% {
    height: 60px;
  }
  88% {
    height: 50px;
  }
  92% {
    height: 60px;
  }
  96% {
    height: 70px;
  }
  100% {
    height: 80px;
  }
}
.show {
  display: block;
}

