$main-color-text: #343434;
@media only screen and (max-width: 1201px) {
  body {
    position: absolute;
    background-size: auto;
  }
  .header {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    bottom: 0;
    &__logo {
      a {
        text-align: center;
        transition: transform 0.5s, ease 0.2s;
        font-size: 2.4em;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    &__nav {
      width: 100%;
      justify-content: flex-start;
      flex-direction: unset;
      align-items: center;
      position: absolute;
      top: 0;
      height: 100%;
      left: 0;
      z-index: 10;
      background-color: bisque;
      opacity: 0;
      &__nav1 {
        width: 100%;
        ul {
          flex-direction: column;
          align-items: center;
          li {
            padding: 15px;
            .divider {
              font-size: 3em;
              line-height: 34px;
            }
            a {
              font-weight: 500;
              font-size: 3em;
              line-height: 34px;
              transition: transform 0.5s, ease 0.2s;
              &::after {
                content: unset;
              }
              &:hover {
                opacity: 0.7;
                transition: transform 0.5s, ease 0.2s;
              }
            }
          }
        }
      }
    }
    &__burger {
      color: $main-color-text;
      display: block;
      cursor: pointer;
      z-index: 11;
    }
    &.mobile {
      height: 100%;
      z-index: 2;
    }
  }
  .main-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
  .outerbutton {
    position: fixed;
    height: 100vh;
    width: 100vw;
    .btn {
      font-size: 2em;
    }
  }
  .main-history {
    flex-direction: column;
    padding: 0 15px;
    margin: 0;
    &__left {
      width: 100%;
      &__down {
        padding: 0;
      }
    }
    &__right {
      width: 100%;
      &__img {
        width: 100px;
        height: 320px;
        .hidden-img-1, .hidden-img-2 {
          width: 100px;
        }
        .hidden-img-3 {
          width: 100px;
        }
        .hidden-img-4 {
          width: 100px;
        }
      }
    }
  }
  .text {
    min-height: 20px;
    display: block;
    .sep {
      width: 3em;
    }
    &__desc {
      text-align: center;
    }
    &__button {
      &--next {
        display: block;
        margin: 25px auto;
      }
    }
  }
  .first-paragraph,
  .second-paragraph {
    max-width: 100%;
    position: relative;
    top: 20%;
    left: auto;
    transform: unset;
    padding: 0 15px;
  }
  .footer {
    flex-direction: column;
  }
}
